{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account %}

{% block head_title %}{% trans "Sign in" %}{% endblock %}

{% block top_menu %} {% endblock top_menu %}

{% block content %}

    {% if socialaccount.providers  %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{site_name}} account and sign in
            below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% endif %}

    <form class="form-signin" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">{% trans "Sign in" %}</h2>
        {{ form|bootstrap }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
            <button class="btn btn-large btn-primary" type="submit">
                <i class="icon-signin"></i>&nbsp;&nbsp;{% trans "Sign in" %}
            </button>
        <p class="text-center">
            <ul class="inline">
                <li><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
                <li>&middot;</li>
                <li><a href="{% url 'account_reset_password' %}">{% trans "Reset password" %}</a></li>
            </ul>
        </p>
    </form>

{% endblock %}

