{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signed out" %}{% endblock %}

{% block content %}
<h1>{% trans "Signed out" %}</h1>

<p>{% trans "You have signed out." %}</p>

<p><a href="{% url 'account_login' %}">{% trans 'Log back in.' %}</a></p>
{% endblock %}
