{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    
    <form class="form-signin" method="POST" action="" >
        {% csrf_token %}

        <h2>{% trans "Password Reset" %}</h2>

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        {{ password_reset_form|bootstrap }}
          <input class="btn btn-primary btn-large" type="submit" value="{% trans "Reset my password" %}" />
        <br/><br/>
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </form>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
