{% extends "account/base.html" %}

{% load bootstrap %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block top_menu %} {% endblock top_menu %}

{% block content %}

    <form class="form-signin" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">{% trans "Signup" %}</h2>
        {{ form|bootstrap }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-large btn-primary" type="submit">
            <i class="icon-double-angle-right"></i>&nbsp;&nbsp;{% trans "Sign Up" %}
        </button>
        <p>{% blocktrans %}Already have an account?<br/> Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    </form>

{% endblock %}


