{% extends "analysis/base.html" %}
{% load i18n %}

{% block content %}
    {% for environment in object_list %}
        <h5>{{ environment.name }}</h5>
        <ul class='unstyled'>
        {% for test in environment.test_set.all %}
            <li><a href="{% url 'analysis_test_details' test.id %}">{{ test.name }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}