{% extends "analysis/base.html" %}
{% load i18n %}

{% block content %}
    <pre>{{ test.description }}</pre>

    <br/>

    {% if test.testrun_set.all %}
        <h4>{% trans "Test runs" %}</h4>
        {% if not test.get_baseline_testruns %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{% trans 'Warning!' %}</strong> {% trans 'You have not added any baseline test runs, analysis impossible.' %}
            </div>
        {% elif not test.get_target_testruns %}
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{% trans 'Warning!' %}</strong> {% trans 'You have not added any target test runs, nothing to analyze.' %}
            </div>
        {% endif %}
          <table><tbody>
            {% for testrun in test.testrun_set.all %}
                    <tr>
                    {% if testrun.is_baseline %}
                        <td>{% blocktrans with id=testrun.id %}Baseline run ({{ id }}){% endblocktrans %}</td>
                    {% else %}
                        <td>{% blocktrans with id=testrun.id %}Target run ({{ id }}){% endblocktrans %}</td>
                    {% endif %}
                    <td>&nbsp;<i class="icon-caret-right"></i>&nbsp;&nbsp;&nbsp;</td>
                    <td><a href="{% url 'repo_testrun_details' test.environment.id test.id testrun.id %}">{{ testrun.name }}</a>
                    ({{ testrun.formatted_start }} - {{ testrun.formatted_end }})
                    {% if not testrun.is_baseline and test.get_baseline_testruns %}
                        <a href="{% url 'analysis_testrun_details' test.id testrun.id %}">{% trans 'analyze' %}</a>
                    {% endif %}
                    </td>
                    </tr>
            {% endfor %}
          </tbody></table>
    {% else %}
        <p>{% trans "No test runs are associated with this test." %}</p>
    {% endif %}

{% endblock %}