{% extends "analysis/base.html" %}
{% load i18n %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'frameworks/fancybox/source/jquery.fancybox.css?v=2.1.5' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'frameworks/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'frameworks/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7' %}" type="text/css" media="screen" />
{% endblock extra_head %}

{% block content %}
    <h4>{% trans 'Metadata' %}</h4>
    {% blocktrans with id=testrun.id %}Id: {{ id }}{% endblocktrans %}<br/>
    {% if testrun.description.strip %}
        {% blocktrans with description=testrun.description %} Description: {{ description }}{% endblocktrans%}<br>
    {% endif %}
    {% blocktrans with sampling_period=testrun.test.sampling_period %} Sampling period: {{ sampling_period }} sec{% endblocktrans%}<br/>
    {% blocktrans with start=testrun.formatted_start %}Time start: {{ start }}{% endblocktrans %}<br/>
    {% blocktrans with end=testrun.formatted_end %}Time end: {{ end }}{% endblocktrans %}<br/>
    {% if testrun.is_baseline %}
        {% trans 'This test run is used to form a baseline for the new runs.' %}
    {% else %}
        {% trans 'This test run is used as a target run.' %}
    {% endif %}

    <br/><br/>
    <h4>{% trans 'Violating counters' %}</h4>
    {% if not analysis_results %}
        {% trans 'No violations are found. This run seems to be perfectly correlated with the baseline.' %}
    {% endif %}
    <div class="accordion" id="accordion">
    {% for item in analysis_results %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                   data-parent="#accordion"
                   href="#collapse{{ item.counter_class.id }}">
                    <span class='alert {{ item.danger_css_class }}'>{% trans 'Severity: ' %}{{ item.severity|floatformat:2 }}, {% trans 'Support: ' %}{{item.baseline_support_percents|floatformat}}%</span> {{item.counter_str}} - {{item.counter_class.id}}
                </a>
            </div>
            <div id="collapse{{ item.counter_class.id }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class='span6'>
                        <strong>{% trans 'Shared pattern' %}</strong><br/>
                        {% if not item.get_expanded_prefix %}
                            <em>{% trans 'Empty pattern' %}</em><br/>
                        {% endif %}
                        {% for clazz,category in item.get_expanded_prefix %}
                            <em>{{ clazz.counter.name }} - {{ clazz.label }} ({{ category }})</em><br/>
                        {% endfor %}
                        <br/>
                        {% blocktrans with bsl_support=item.baseline_support_percents|floatformat tgt_support=item.target_support_percents|floatformat counter=item.counter_str %}
                            This pattern has {{ bsl_support }}% support in the baseline dataset and {{ tgt_support }}%
                            in target dataset which allows us to conclude that it behaves similarly. However, if we add
                            <em>{{ counter }}</em> counter to the pattern, it behaves differently for certain categories.
                        {% endblocktrans %}
                        <br/><br/>
                        <div>
                            <a class="fancybox" href="{% url 'repo_chart_timeseries_raw' test.environment.id test.id testrun.id item.counter_class.id %}">{% trans 'Time-series chart for raw data' %}</a><br/>
                            <a class="fancybox" href="{% url 'repo_chart_timeseries_discrete' test.environment.id test.id testrun.id item.counter_class.id %}">{% trans 'Time-series chart for discrete data' %}</a>
                        </div>
                    </div>
                    <div class='span5 offset1'>
                        <div>
                            <table class='table table-condensed table-hover table-bordered'>
                                <thead>
                                    <tr>
                                        <th class='text-center'>{% trans 'Metric' %}</th>
                                        <th class='text-center'>{% trans 'Baseline' %}</th>
                                        <th class='text-center'>{% trans 'Target' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% trans 'Number of entries' %}</td>
                                        <td>{{ num_baseline_transactions }}</td>
                                        <td>{{ num_target_transactions|floatformat:0 }}</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Shared pattern support' %}</td>
                                        <td>{{ item.baseline_support }} ({{ item.baseline_support_percents }}%)</td>
                                        <td>{{ item.target_support_unscaled }} ({{ item.target_support_percents }}%)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <table class='table table-condensed table-hover table-bordered'>
                                <thead>
                                    <tr>
                                        <th colspan='6' class='text-center'>{% trans 'Distribution of categories' %}</th>
                                    </tr>
                                    <tr>
                                        <th colspan='2' class='text-center'>{% trans 'Baseline' %}</th>
                                        <th colspan='2' class='text-center'>{% trans 'Category' %}</th>
                                        <th colspan='2' class='text-center'>{% trans 'Target' %}</th>
                                    </tr>
                                    <tr>
                                        <th class='text-center'>{% trans 'Support' %}</th>
                                        <th class='text-center'>{% trans 'Conf.' %}</th>
                                        <th class='text-center'>{% trans 'Cat.' %}</th>
                                        <th class='text-center'>{% trans 'Confdiff' %}</th>
                                        <th class='text-center'>{% trans 'Support' %}</th>
                                        <th class='text-center'>{% trans 'Conf.' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for child in item.get_consequents_for_presentation %}
                                    <tr>
                                        <td>{{ child.baseline_support }}&nbsp;({{ child.baseline_support_percents|floatformat:0 }}%)</td>
                                        <td>{{ child.baseline_confidence_percents|floatformat:0}}%</td>
                                        <td class='info'>{{ child.category }}</td>
                                        <td class='info'>{{ child.confdiff|floatformat:0 }}%</td>
                                        <td>{{ child.target_support_unscaled|floatformat:0 }}&nbsp;({{ child.target_support_percents|floatformat:0 }}%)</td>
                                        <td>{{ child.target_confidence_percents|floatformat:0}}%</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <a class="fancybox" href="{% url 'analysis_chart_distribution' test.id testrun.id item.counter_class.id %}">
                                {% trans 'Categories distribution chart' %}</a><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block extra_body %}
    <!-- fancyBox -->
    <script type="text/javascript" src="{% static 'frameworks/fancybox/source/jquery.fancybox.pack.js?v=2.1.5' %}"></script>
    <script type="text/javascript" src="{% static 'frameworks/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5' %}"></script>
    <script type="text/javascript" src="{% static 'frameworks/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6' %}"></script>
    <script type="text/javascript" src="{% static 'frameworks/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock extra_body %}