{% extends "repo/base.html" %}
{% load i18n %}

{% block content %}
    <h4>{% trans 'Metadata' %}</h4>
    {% include 'repo/testrun_metadata.html' with instance=consolidatedcounterrecord %}

    <br/>

    <h4>{% trans 'Data' %}</h4>
    {% trans 'Name: ' %}{{ consolidatedcounterrecord.clazz.label }}<br/>
    {% trans 'Offset: ' %}{{ consolidatedcounterrecord.offset }}<br/>
    {% trans 'Counter: ' %}<a href="{% url 'repo_consolidated_counter_details' consolidatedcounterrecord.clazz.counter.id %}">{{ consolidatedcounterrecord.clazz.counter.name }}</a><br/>
    {% trans 'Value: ' %}{{ consolidatedcounterrecord.value }}
{% endblock %}