{% extends "repo/base.html" %}
{% load i18n %}

{% block content %}
    {% if consolidatedcounterrecord_list %}
        {% include 'repo/pager.html' %}
        <ul class="unstyled">
            {% for counterrecord in consolidatedcounterrecord_list %}
                {# Call via request for performance matters  #}
                <li><a href="{{ request.path }}{{counterrecord.id}}/">
                    {{ counterrecord.clazz.label }} : {{ counterrecord.clazz.counter.name }} : {{ counterrecord.offset }}</a></li>
            {% endfor %}
        </ul>
        {% include 'repo/pager.html' %}
    {% else %}
        {% trans 'No consolidated counter records were created for this test run.' %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    <ul class="unstyled">
        <li><a href="{% url 'repo_testrun_details' testrun.test.environment.id testrun.test.id testrun.id %}">
            {% trans 'Back to test run details' %}</a></li>
    </ul>
{% endblock sidebar %}