{% extends "repo/base.html" %}
{% load i18n %}

{% block content %}
    <table class="table" style="width:auto">
        <tbody>
        {% for counter in counter_list %}
            <div id="modal{{ counter.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal{{ counter.id }}Label" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 id="label{{ counter.id }}">{% trans 'Counter removal' %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% blocktrans with name=counter.name %}Are you sure you want to remove counter <i>{{ name }}</i>?{% endblocktrans %}</p>
                </div>
                <div class="modal-footer">
                    <form method="post" action="{% url 'repo_counter_delete' counter.id %}">
                        {% csrf_token %}
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
                        <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i>{% trans ' Remove' %}</button>
                    </form>
                </div>
            </div>

            <tr>
                <td><a href="{% url 'repo_counter_details' counter.id %}">{{ counter.name }}</a></td>
                <td><a href="{% url 'admin:repo_counter_change' counter.id %}" target='_blank'><i class="icon-edit"></i></a></td>
                <td><a href="#modal{{ counter.id }}" data-toggle="modal"><i class="icon-remove"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'admin:repo_counter_add' %}" target='_blank'>
        <button type='button' class='btn btn-small btn-primary'>{% trans 'Add counter' %}</button>
    </a>
{% endblock %}