{% extends "repo/base.html" %}
{% load i18n %}

{% block content %}
    <h4>{% trans "Tests" %}</h4>
    {% if environment.test_set.all %}
        <table class="table" style="width:auto">
            <tbody>
            {% for test in environment.test_set.all %}
                <div id="modaltest{{ test.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal{{ test.id }}Label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="label{{ test.id }}">{% trans 'Test removal' %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% blocktrans with name=test.name %}Are you sure you want to remove test <i>{{ name }}</i>?{% endblocktrans %}</p>
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="{% url 'repo_test_delete' environment.id test.id %}">
                            {% csrf_token %}
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
                            <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i>{% trans ' Remove' %}</button>
                        </form>
                    </div>
                </div>

                <tr>
                    <td><a href="{% url 'repo_test_details' environment.id test.id %}">{{ test.name }}</a></td>
                    <td><a href="{% url 'admin:repo_test_change' test.id %}" target='_blank'><i class="icon-edit"></i></a></td>
                    <td><a href="#modaltest{{ test.id }}" data-toggle="modal"><i class="icon-remove"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "No tests were created for this environment." %}</p>
    {% endif %}

    <a href="{% url 'admin:repo_test_add' %}" target='_blank'>
        <button type='button' class='btn btn-small btn-primary'>{% trans 'Add test' %}</button>
    </a>

    <br/><br/>

    <h4>{% trans "Nodes" %}</h4>
    {% if environment.node_set.all %}
        <table class="table" style="width:auto">
            <tbody>
                {% for node in environment.node_set.all %}
                <div id="modalnode{{ node.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal{{ node.id }}Label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="label{{ node.id }}">{% trans 'Node removal' %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% blocktrans with name=node.name %}Are you sure you want to remove node <i>{{ name }}</i>?{% endblocktrans %}</p>
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="{% url 'repo_node_delete' environment.id node.id %}">
                            {% csrf_token %}
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
                            <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i>{% trans ' Remove' %}</button>
                        </form>
                    </div>
                </div>

                <tr>
                    <td><a href="{% url 'repo_node_details' environment.id node.id %}">{{ node.name }}</a></td>
                    <td><a href="{% url 'admin:repo_node_change' node.id %}" target='_blank'><i class="icon-edit"></i></a></td>
                    <td><a href="#modalnode{{ node.id }}" data-toggle="modal"><i class="icon-remove"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "No nodes are associated with this environment." %}</p>
    {% endif %}

    <a href="{% url 'admin:repo_node_add' %}" target='_blank'>
        <button type='button' class='btn btn-small btn-primary'>{% trans 'Add node' %}</button>
    </a>
{% endblock %}