{% extends "repo/base.html" %}
{% load i18n %}
{% load admin_urls %}

{% block content %}
    <table class="table" style="width:auto">
        <tbody>
            {% for environment in object_list %}
            <div id="modal{{ environment.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal{{ file.id }}Label" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 id="label{{ environment.id }}">{% trans 'Environment removal' %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% blocktrans with name=environment.name %}Are you sure you want to remove environment <i>{{ name }}</i>?{% endblocktrans %}</p>
                </div>
                <div class="modal-footer">
                    <form method="post" action="{% url 'repo_environment_delete' environment.id %}">
                        {% csrf_token %}
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
                        <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i>{% trans ' Remove' %}</button>
                    </form>
                </div>
            </div>

            <tr>
                <td><a href="{% url 'repo_environment_details' environment.id %}">{{ environment.name }}</a></td>
                <td><a href="{% url 'admin:repo_environment_change' environment.id %}" target='_blank'><i class="icon-edit"></i></a></td>
                <td><a href="#modal{{ environment.id }}" data-toggle="modal"><i class="icon-remove"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'admin:repo_environment_add' %}" target='_blank'>
        <button type='button' class='btn btn-small btn-primary'>{% trans 'Add environment' %}</button>
    </a>
{% endblock %}