{% extends 'repo/base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans 'TomTom performance repository' %}{% endblock head_title %}
{% block page_title %}
    <div class="row">
        <div class="span6 offset3">
            <h2 style="text-align:center">TomTom performance repository</h2>
        </div>
    </div>
{% endblock page_title %}

{% block content %}
    <div class="row">
        <div class="span6 offset3"><br/><br/>
            <img src="{% static 'images/home.png' %}"/>
        </div>
    </div>

{% endblock content %}