{% extends "repo/base.html" %}
{% load i18n %}

{% block content %}
    <ul class="unstyled">
        {% if node_list %}
            {% for node in node_list %}
                <li><a href="{% url 'repo_node_details' node.environment.id node.id %}">{{ node.name }}</a></li>
            {% endfor %}
        {% else %}
            {% trans 'No nodes are defined for this environment.' %}
        {% endif %}
    </ul>
{% endblock %}