{% load i18n %}

{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{% trans 'previous' %}</a>
            {% endif %}
            <span class="page-current">
                {% blocktrans with current=page_obj.number total=page_obj.paginator.num_pages %}
                    page {{ current }} of {{ total }}
                {% endblocktrans %}
            </span>
            {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">{% trans 'next' %}</a>
            {% endif %}
        </span>
    </div>
{% endif %}