{% extends "repo/base.html" %}
{% load i18n %}

{% block content %}
        <h4>{% trans 'Metadata' %}</h4>
        {% include 'repo/testrun_metadata.html' with instance=rawcounterrecord %}

        <br/>

        <h4>{% trans 'Data' %}</h4>
        {% trans 'Name: ' %}{{ rawcounterrecord.clazz.name }}<br/>
        {% trans 'Timestamp: ' %}{{ rawcounterrecord.get_formatted_datetime }}<br/>
        {% trans 'Counter: ' %}<a href="{% url 'repo_counter_details' rawcounterrecord.clazz.counter.id %}">{{ rawcounterrecord.clazz.counter.name }}</a><br/>
        {% trans 'Value: ' %}{{ rawcounterrecord.value }}
{% endblock %}