{% extends "repo/base.html" %}
{% load i18n %}

{% block content %}
    {% if rawcounterrecord_list %}
        {% include 'repo/pager.html' %}
        <ul class="unstyled">
            {% for raw_counter_record in rawcounterrecord_list %}
                {# Call via request for performance matters  #}
                <li><a href="{{ request.path }}{{raw_counter_record.id}}/">
                    {{ raw_counter_record.clazz.label }} : {{ raw_counter_record.clazz.counter.name }} : {{ raw_counter_record.get_formatted_datetime }}</a></li>
            {% endfor %}
        </ul>
        {% include 'repo/pager.html' %}
    {% else %}
        {% trans 'No raw counter records exist for this test run.' %}
    {% endif %}
{% endblock %}

{% block sidebar %}
        <ul class="unstyled">
            <li><a href="{% url 'repo_testrun_details' testrun.test.environment.id testrun.test.id testrun.id %}">
                {% trans 'Back to test run details' %}</a></li>
        </ul>
{% endblock sidebar %}