{% extends 'repo/base.html' %}
{% load i18n %}

{% block content %}
    <ul class="unstyled">
        <li><a href="{% url 'repo_environments' %}">{% trans 'Environments' %}</a></li>
        <li><a href="{% url 'repo_counters' %}">{% trans 'Counters' %}</a></li>
    </ul>
{% endblock content %}