{% extends "repo/base.html" %}
{% load i18n %}

{% block content %}
    <h4>{% trans 'Test run metadata' %}</h4>
    {% include 'repo/testrun_metadata.html' with instance=testfile %}

    <br/>

    <h4>{% trans 'Test file' %}</h4>
    {% trans 'File: ' %}<a href="{{ testfile.file.url }}">{{ testfile.original_name }}</a><br/>
    {% trans 'Uploaded at: ' %}{{ testfile.uploaded_at|date:'Y-m-d H:i' }}
{% endblock %}