{% extends 'repo/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <br/><br/><br/>
    <form method="post" class="form-horizontal offset1"
          action="{% url 'repo_test_file_details' test_file.testrun.test.environment.id test_file.testrun.test.id test_file.testrun.id test_file.id %}process/">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="{{ form.format.html_name }}">{{ form.format.label }}</label>
            <div class="controls">
                {{ form.format }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary inline-block" type="submit">{% trans 'Proceed' %}</button>
            </div>
        </div>
    </form>

    <div class="accordion" id="accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseJmeterCsv">
                    {% trans 'Apache JMeter .csv' %}
                </a>
            </div>
            <div id="collapseJmeterCsv" class="accordion-body collapse in">
                <div class="accordion-inner">
                    {% blocktrans %}
                        .csv file exported from Apache JMeter with headers. Among other columns, has timeStamp, label, elapsed and Latency.
                        Raw counter records for <code>Latency</code> counter are created and labeled with data from <em>label</em> column.
                    {% endblocktrans %}
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseJmeterJtl">
                    {% trans 'Apache JMeter .jtl' %}
                </a>
            </div>
            <div id="collapseJmeterJtl" class="accordion-body collapse">
                <div class="accordion-inner">
                    {% blocktrans %}
                        .jtl file exported from Apache JMeter. Only <code>httpSample</code> records are processed.
                        Raw counter records for <code>Latency</code> counter are created and labeled with sampler name.
                    {% endblocktrans %}
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOpenTsdbCsvCpu">
                    {% trans 'OpenTSDB .csv CPU/MySQL' %}
                </a>
            </div>
            <div id="collapseOpenTsdbCsvCpu" class="accordion-body collapse">
                <div class="accordion-inner">
                    {% blocktrans %}
                        .csv file exported from OpenTSDB and converted with <code>opentsdb2csv.py</code>. Among other columns, has timestamp, proc-cpu-user, proc-cpu-system, proc-cpu-iowait, mysql-received and mysql-sent.
                        Is used for testing purposes as the data in this format is used in testing scenarios. While processing it, raw counter records for <code>CPU user</code>, <code>CPU system</code>, <code>CPU iowait</code>, <code>MySQL: received bytes</code> and <code>MySQL: sent bytes</code> are created.
                    {% endblocktrans %}
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOpenTsdbCsvDell">
                    {% trans 'OpenTSDB .csv Dell case study' %}
                </a>
            </div>
            <div id="collapseOpenTsdbCsvDell" class="accordion-body collapse">
                <div class="accordion-inner">
                    {% blocktrans %}
                        .csv file exported from OpenTSDB and converted with <code>opentsdb2csv.py</code>. Among other columns, has timestamp, proc-cpu-user, proc-cpu-system, proc-cpu-iowait, mysql-received, mysql-sent, iostat-disk-read-requests, iostat-disk-write-requests, proc-cpu-ctxt and proc-cpu-intr.
                        Is used for Dell DVD Store case study tests and contains descriptions of counters used for these testing scenarios. While processing it, raw counter records for <code>CPU user</code>, <code>CPU system</code>, <code>CPU iowait</code>, <code>MySQL: received bytes</code>, <code>MySQL: sent bytes</code>, <code>Disk read requests</code>, <code>Disk write requests</code>, <code>CPU interrupts</code> and <code>CPU context switches</code> are created.
                    {% endblocktrans %}
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseGenericEnvCsv">
                    {% trans 'Generic environment .csv' %}
                </a>
            </div>
            <div id="collapseGenericEnvCsv" class="accordion-body collapse">
                <div class="accordion-inner">
                    {% blocktrans %}
                        While processing generic .csv file, you can set all the parameters manually. It is assumed, though, that this file contains environment-related data with scenario labels.
                    {% endblocktrans %}
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseGenericNodeCsv">
                    {% trans 'Generic node .csv' %}
                </a>
            </div>
            <div id="collapseGenericNodeCsv" class="accordion-body collapse">
                <div class="accordion-inner">
                    {% blocktrans %}
                        While processing generic .csv file, you can set all the parameters manually. It is assumed, though, that this file contains node-related data, and you have to specify a node to link the results.
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}