{% extends "repo/base.html" %}
{% load i18n %}

{% block content %}
    <ul class="unstyled">
        {% if test_list %}
            {% for test in test_list %}
                <li><a href="{% url 'repo_test_details' test.environment.id test.id %}">
                    {{ test.name }}</a></li>
            {% endfor %}
        {% else %}
            {% trans 'No tests are defined for this environment.' %}
        {% endif %}
    </ul>
{% endblock %}