{% extends "repo/base.html" %}
{% load i18n %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'frameworks/fancybox/source/jquery.fancybox.css?v=2.1.5' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'frameworks/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'frameworks/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7' %}" type="text/css" media="screen" />
{% endblock extra_head %}

{% block content %}
    <h4>{% trans 'Metadata' %}</h4>
    {% blocktrans with id=testrun.id %}Id: {{ id }}{% endblocktrans %}<br/>
    {% if testrun.description.strip %}
        {% blocktrans with description=testrun.description %} Description: {{ description }}{% endblocktrans%}<br>
    {% endif %}
    {% blocktrans with sampling_period=testrun.test.sampling_period %} Sampling period: {{ sampling_period }} sec{% endblocktrans%}<br/>
    {% blocktrans with start=testrun.formatted_start %}Time start: {{ start }}{% endblocktrans %}<br/>
    {% blocktrans with end=testrun.formatted_end %}Time end: {{ end }}{% endblocktrans %}<br/>
    {% if testrun.is_baseline %}
        {% trans 'This test run is used to form a baseline for the new runs.' %}
    {% else %}
        {% trans 'This test run is used as a target run.' %}
    {% endif %}

    <br/><br/>

    <h4>{% trans 'Counter records' %}</h4>
    <ul class="unstyled">

    {% if testrun.rawcounterrecord_set.exists %}
        <li><a href="{% url 'repo_raw_counter_records' testrun.test.environment.id testrun.test.id testrun.id %}">
            {% trans "View raw counter records" %}</a></li>
    {% else %}
        <li>{% trans 'No raw counter records are available.' %}</li>
    {% endif %}


    {% if testrun.consolidatedcounterrecord_set.exists %}
        <li><a href="{% url 'repo_consolidated_counter_records' testrun.test.environment.id testrun.test.id testrun.id %}">
            {% trans "View consolidated counter records" %}</a></li>
    {% else %}
        <li>{% trans 'No consolidated counter records are available.' %}</li>
    {% endif %}
    </ul>
    <br/>

    <h4>{% trans 'Data files' %}</h4>

    {% include 'repo/testfiles_table.html' with files=testrun.testfile_set.all %}

    <form enctype="multipart/form-data" action="{{ testrun.get_absolute_url }}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.id.errors }}
        <div class="control-group required">
            <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="input-append">
                    <div class="uneditable-input span3">
                        <i class="icon-file fileupload-exists"></i>
                        <span class="fileupload-preview"></span>
                    </div>
                    <span class="btn btn-file">
                        <span class="fileupload-new">{% trans 'Browse' %}</span>
                        <span class="fileupload-exists">{% trans 'Change' %}</span>
                        <input id="id_file" name="file" type="file" />
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">{% trans 'Remove' %}</a>
                    <button class="btn btn-primary inline-block" type="submit">{% trans 'Add file' %}</button>
                </div>
            </div>
        </div>
    </form>

    <br/>
    {% if raw_summary %}
        <h4>{% trans 'Raw counter records summary' %}</h4>
        <table class='table table-bordered table-condensed table-striped'>
            <thead>
                <tr>
                    <th class='text-center'>{% trans 'Label' %}</th>
                    <th class='text-center'>{% trans 'Counter' %}</th>
                    <th class='text-center'>{% trans 'Samples' %}</th>
                    <th class='text-center'>{% trans 'Min' %}</th>
                    <th class='text-center'>{% trans 'Max' %}</th>
                    <th class='text-center'>{% trans 'Average' %}</th>
                    <th class='text-center'>{% trans 'Median' %}</th>
                    <th class='text-center'>{% trans 'Std. dev.' %}</th>
                    <th class='text-center' colspan="2">{% trans 'Violations' %}
                    <table class='table-bordered' style='width:100%'>
                        <thead><tr>
                            <th class='text-center'>{% trans 'Lower' %}</th>
                            <th class='text-center'>{% trans 'Upper' %}</th>
                        </tr></thead>
                    </table>
                    </th>
                    {% if testrun.test.get_baseline_testruns %}
                        <th class='text-center'>{% trans 'Charts' %}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entry in raw_summary %}
                    <tr class="{% if entry.clazz in disabled_class_ids %}disabled_counter{% endif %}">
                        <td>{{ entry.label }}</td>
                        <td>{{ entry.counter_name }}</td>
                        <td class='text-center'>{{ entry.num_samples }}</td>
                        <td class='text-center'>{{ entry.min.value|floatformat:'-2' }}
                            <p class="{{ entry.min.classes }}"><small>{{ entry.min.difference }}</small></p>
                        </td>
                        <td class='text-center'>{{ entry.max.value|floatformat:'-2' }}
                            <p class="{{ entry.max.classes }}"><small>{{ entry.max.difference }}</small></p>
                        </td>
                        <td class='text-center'>{{ entry.avg.value|floatformat:'-2' }}
                            <p class="{{ entry.avg.classes }}"><small>{{ entry.avg.difference }}</small></p>
                        </td>
                        <td class='text-center'>{{ entry.median.value|floatformat:'-2' }}
                            <p class="{{ entry.median.classes }}"><small>{{ entry.median.difference }}</small></p>
                        </td>
                        <td class='text-center'>{{ entry.stddev.value|floatformat:'-2' }}
                            <p class="{{ entry.stddev.classes }}"><small>{{ entry.stddev.difference }}</small></p>
                        </td>
                        <td class='text-center'>
                            <h4 class="{{ entry.violation_bottom.classes }}">{{ entry.violation_bottom.value }}</h4>
                        </td>
                        <td class='text-center'>
                            <h4 class="{{ entry.violation_top.classes }}">{{ entry.violation_top.value }}</h4>
                        </td>
                        {% if testrun.test.get_baseline_testruns %}
                            <td>
                                <a class="fancybox" href="{% url 'repo_chart_timeseries_raw' testrun.test.environment.id testrun.test.id testrun.id entry.clazz %}">{% trans 'raw' %}</a><br/>
                                <a class="fancybox" href="{% url 'repo_chart_timeseries_discrete' testrun.test.environment.id testrun.test.id testrun.id entry.clazz %}">{% trans 'consolid.' %}</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>

        </table>

        {% if testrun.test.get_baseline_testruns %}
            <p class="text-right"><em>
            {% blocktrans %}
                Values in parenthesis show relative difference to the respective values in baseline runs.
            {% endblocktrans %}
            </em></p>
        {% endif %}
    {% endif %}

{% endblock %}

{% block extra_body %}
    <!-- fancyBox -->
    <script type="text/javascript" src="{% static 'frameworks/fancybox/source/jquery.fancybox.pack.js?v=2.1.5' %}"></script>
    <script type="text/javascript" src="{% static 'frameworks/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5' %}"></script>
    <script type="text/javascript" src="{% static 'frameworks/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6' %}"></script>
    <script type="text/javascript" src="{% static 'frameworks/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock extra_body %}