{% load i18n %}

{% if files %}
    <table class="table" style="width:auto">
        <thead>
        <tr>
            <th>{% trans 'File' %}</th>
            <th>{% trans 'Uploaded at' %}</th>
            <th>{% trans 'Counters' %}</th>
            <th>{% trans 'Raw/Consol. rec.' %}</th>
            <th>{% trans 'Process' %}</th>
            <th>{% trans 'Remove' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <div id="modal{{ file.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal{{ file.id }}Label" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 id="label{{ file.id }}">{% trans 'Test file removal' %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% blocktrans with f=file.original_name %}Are you sure you want to remove <i>{{ f }}</i>?{% endblocktrans %}</p>
                </div>
                <div class="modal-footer">
                    <form method="post" action="{% url 'repo_test_file_delete' file.testrun.test.environment.id file.testrun.test.id file.testrun.id file.id %}">
                        {% csrf_token %}
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
                        <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i>{% trans ' Remove' %}</button>
                    </form>
                </div>
            </div>

            <tr>
                <td><a href="{{ file.file.url }}">{{ file.original_name }}</a></td>
                <td>{{ file.uploaded_at|date:'Y-m-d H:i' }}</td>
                <td class='text-center'>{{ file.num_distinct_counters }}</td>
                <td class='text-center'>{{ file.num_raw_records }} / {{ file.num_records }}</td>
                <td><a href="{% url 'repo_test_file_process' file.testrun.test.environment.id file.testrun.test.id file.testrun.id file.id %}">{% trans 'rebuild' %}</a></td>
                <td style="text-align: center">
                    <div class="btn-group">
                        <a href="#modal{{ file.id }}" class="btn btn-danger btn-mini" data-toggle="modal">
                            <i class="icon-remove-sign icon-large icon-white"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans 'No test files are available.' %}</p>
{% endif %}
