{% extends 'repo/base.html' %}
{% load i18n %}

{% block content %}

    <p>
    {% blocktrans %}
        An error has occurred when creating counter records from a test file.
    {% endblocktrans %}
    </p>

    <p><a href="{% url 'repo_testrun_details' environment test testrun %}">
        {% trans "Go back to test run details" %}</a></p>

    <p><a href="{% url 'repo_raw_counter_records' environment test testrun %}">
        {% trans "View raw counter records" %}</a></p>

{% endblock content %}