{% load i18n %}

{% trans 'Environment: ' %}<a href="{% url 'repo_environment_details' instance.testrun.test.environment.id %}">{{ instance.testrun.test.environment.name }}</a><br/>
{% trans 'Test: ' %}<a href="{% url 'repo_test_details' instance.testrun.test.environment.id instance.testrun.test.id%}">{{ instance.testrun.test.name }}</a><br/>
{% trans 'Test run: ' %}<a href="{% url 'repo_testrun_details' instance.testrun.test.environment.id instance.testrun.test.id instance.testrun.id %}">{{ instance.testrun.name }}</a><br/>