{% extends "repo/base.html" %}
{% load i18n %}

{% block content %}
    <ul class="unstyled">
        {% for testrun in testrun_list %}
            <li><a href="{% url 'repo_testrun_details' testrun.test.environment.id testrun.test.id testrun.id %}">
                {{ testrun.name }}</a>
                ({{ testrun.formatted_start }} - {{ testrun.formatted_end }})</li>
        {% endfor %}
    </ul>
{% endblock %}