{% extends "repo/base.html" %}
{% load i18n %}

{% block content %}
    <pre>{{ test.description }}</pre>

    <br/>

    <h4>{% trans "Test runs" %}</h4>
    {% if test.testrun_set.all %}
        {% if not test.get_baseline_testruns %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{% trans 'Warning!' %}</strong> {% trans 'You have not added any baseline test runs.' %}
            </div>
        {% endif %}
          <table class="table" style="width:auto"><tbody>
            {% for testrun in test.testrun_set.all %}
                <div id="modal{{ testrun.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal{{ testrun.id }}Label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="label{{ testrun.id }}">{% trans 'Test run removal' %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% blocktrans with name=testrun.name %}Are you sure you want to remove test run <i>{{ name }}</i>?{% endblocktrans %}</p>
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="{% url 'repo_testrun_delete' test.environment.id test.id testrun.id %}">
                            {% csrf_token %}
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
                            <button class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i>{% trans ' Remove' %}</button>
                        </form>
                    </div>
                </div>

                <tr>
                    {% if testrun.is_baseline %}
                        <td>{% blocktrans with id=testrun.id %}Baseline run ({{ id }}){% endblocktrans %}</td>
                    {% else %}
                        <td>{% blocktrans with id=testrun.id %}Target run ({{ id }}){% endblocktrans %}</td>
                    {% endif %}
                    <td>&nbsp;<i class="icon-caret-right"></i>&nbsp;&nbsp;&nbsp;</td>
                    <td><a href="{% url 'repo_testrun_details' test.environment.id test.id testrun.id %}">{{ testrun.name }}</a>
                    ({{ testrun.formatted_start }} - {{ testrun.formatted_end }})</td>
                    <td><a href="{% url 'admin:repo_testrun_change' testrun.id %}" target='_blank'><i class="icon-edit"></i></a></td>
                    <td><a href="#modal{{ testrun.id }}" data-toggle="modal"><i class="icon-remove"></i></a></td>
                </tr>
            {% endfor %}
          </tbody></table>
    {% else %}
        <p>{% trans "No test runs are associated with this test." %}</p>
    {% endif %}

    <a href="{% url 'admin:repo_testrun_add' %}" target='_blank'>
        <button type='button' class='btn btn-small btn-primary'>{% trans 'Add test run' %}</button>
    </a>

    <br/><br/>
    {% if raw_summary %}
        <h4>{% trans 'Summary data for raw counter records in baseline runs' %}</h4>
        <input type="hidden" id="test_id" name="test_id" value="{{ test.id }}" readonly />
        {% csrf_token %}
        <table class='table table-bordered table-condensed table-striped'>
            <thead>
            <tr>
                <th class='text-center'>{% trans 'Label' %}</th>
                <th class='text-center'>{% trans 'Counter' %}</th>
                <th class='text-center'>{% trans 'Samples' %}</th>
                <th class='text-center'>{% trans 'Min' %}</th>
                <th class='text-center'>{% trans 'Max' %}</th>
                <th class='text-center'>{% trans 'Average' %}</th>
                <th class='text-center'>{% trans 'Median' %}</th>
                <th class='text-center'>{% trans 'Std. dev.' %}</th>
                <th class='text-center'>{% trans 'on/off' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in raw_summary %}
                <tr id="row_{{ entry.clazz }}" class="{% if entry.clazz in disabled_class_ids %}disabled_counter{% endif %}">
                    <td>{{ entry.label }}</td>
                    <td>{{ entry.counter_name }}</td>
                    <td class='text-center'>{{ entry.num_samples }}</td>
                    <td class='text-center'>{{ entry.min.value|floatformat:'-2' }}</td>
                    <td class='text-center'>{{ entry.max.value|floatformat:'-2' }}</td>
                    <td class='text-center'>{{ entry.avg.value|floatformat:'-2' }}</td>
                    <td class='text-center'>{{ entry.median.value|floatformat:'-2' }}</td>
                    <td class='text-center'>{{ entry.stddev.value|floatformat:'-2' }}</td>
                    {% if entry.clazz in disabled_class_ids %}
                        <td id="td_{{ entry.clazz }}" class='text-center enable_counter'><a href="#" id="counter_class_{{ entry.clazz }}" onclick="changeCounterClassUsage(this);return false;">enable</a></td>
                    {% else %}
                        <td id="td_{{ entry.clazz }}" class='text-center disable_counter'><a href="#" id="counter_class_{{ entry.clazz }}" onclick="changeCounterClassUsage(this);return false;">disable</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="text-right"><em>
            {% blocktrans %}
                Disabled counters are not used for the analysis.
            {% endblocktrans %}
        </em></p>
    {% endif %}

{% endblock %}

{% block extra_body %}
    <script language="javascript">
        function changeCounterClassUsage(theLink){
            var class_id = theLink.id.split("_")[2];
            var test_id = document.getElementById("test_id").value;
            $.ajax({
                type: "POST",
                url: "/ajax/repo/change_counter_class_status/",
                data: {
                    csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    test_id: test_id,
                    class_id: class_id
                },
                success: function(data) {
                    var disabled = data["disabled_counter_classes"];
                    if (jQuery.inArray(Number(class_id), disabled) != -1){
                        updateSummaryTable(class_id, "disable");
                    } else {
                        updateSummaryTable(class_id, "enable");
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert("Please report this error: " + errorThrown + xhr.status);
                }
            });
        }

        function updateSummaryTable(class_id, action){
            var row = $("#row_"+class_id);
            var cell = $("#td_"+class_id);
            var link = $("#counter_class_"+class_id);
            if (action == "disable"){
                row.addClass("disabled_counter");
                link.text("enable");
                cell.removeClass("disable_counter").addClass("enable_counter");
            } else {
                row.removeClass("disabled_counter");
                link.text("disable");
                cell.removeClass("enable_counter").addClass("disable_counter");
            }

        }

    </script>
{% endblock extra_body %}