{% extends 'repo/base.html' %}
{% load i18n %}

{% block content %}
    <br/><br/><br/>
    <form method="post" class="form-horizontal offset1"
          action="{% url 'repo_test_file_details' test_file.testrun.test.environment.id test_file.testrun.test.id test_file.testrun.id test_file.id %}process/csv/{{ format }}/">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-block alert-error span9">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <ul class="unstyled">
                    {% for error in form.non_field_errors %}
                        <li>{{ error|safe }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <fieldset>
            <div class="control-group">
                {{ form.timestamp_column_errors }}
                <label class="control-label" for="{{ form.timestamp_column.html_name }}">{{ form.timestamp_column.label }}</label>
                <div class="controls">
                    {{ form.timestamp_column }}
                </div>
            </div>
            {% if from_node %}
                <div class="control-group">
                    {{ form.node_errors }}
                    <label class="control-label" for="{{ form.node.html_name }}">{{ form.node.label }}</label>
                    <div class="controls">
                        {{ form.node }}
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    {{ form.label_column_errors }}
                    <label class="control-label" for="{{ form.label_column.html_name }}">{{ form.label_column.label }}</label>
                    <div class="controls">
                        {{ form.label_column }}
                    </div>
                </div>
            {% endif %}
        </fieldset>
        <hr/>
        <fieldset id="counters">
            <div class="control-group">
                {{ form.counter_1_errors }}
                <label class="control-label" for="{{ form.counter_1.html_name }}">{{ form.counter_1.label }}</label>
                <div class="controls">
                    {{ form.counter_1 }}
                </div>
            </div>
            <div class="control-group">
                {{ form.column_errors }}
                <label class="control-label" for="{{ form.column_1.html_name }}">{{ form.column_1.label }}</label>
                <div class="controls">
                    {{ form.column_1 }}
                </div>
            </div>
        </fieldset>
        {{ form.counters_count }}
        <div class="control-group">
            <div class="controls">
                <a class="btn inline-block" id="add-another"><i class="icon-plus"></i>{% trans ' Add counter' %}</a>
                <button class="btn btn-primary inline-block" type="submit">
                    <i class="icon-ok"></i>{% trans ' Retrieve counter records' %}</button>
            </div>
        </div>
    </form>

{% endblock content %}

{% block extra_body %}
    <script language="javascript">
        form_count = $("[name=counters_count]")[0].value;

        /**
         * Creates additional fields upon loading the form (needed for correct validation)
         */
        $( document ).ready(function() {
            var counters_count = $("[name=counters_count]");
            var value = counters_count[0].value;

            if (value > 0){
                for (var i = 0; i < value; i++){
                    add_fields(i+2);
                }
            }
        });

        /**
         * Adds fields to the form upon button click
         */
        $("#add-another").click(function() {
            var counters_count = $("[name=counters_count]");
            var value = counters_count[0].value;
            add_fields(parseInt(value)+2);
            value++;
            counters_count.val(value);
        });

        /**
         * Adds counter and columns fields with specified index to the form
         * @param index index of the fields
         */
        var add_fields = function(index){
            var counters = $("#counters");

            var counter_control_group = $('<div class="control-group"></div>');
            counter_control_group.attr('id','counter_control_group_' + index);
            counters.append(counter_control_group);

            var counter_label = $('<label class="control-label"></label>');
            counter_label.attr('for','counter_' + index);
            counter_label.attr('name','counter_label_' + index);
            counter_label.text('Counter ' + index + ': ');
            counter_control_group.append(counter_label);

            var counter_controls = $('<div class="controls"></div>');
            counter_controls.attr('id','counter_controls_'+index);
            counter_control_group.append(counter_controls);

            var counter_select = $('#id_counter_1').clone();
            counter_select.attr('id','counter_'+index);
            counter_select.attr('name','counter_'+index);
            counter_controls.append(counter_select);

            var column_control_group = $('<div class="control-group"></div>');
            column_control_group.attr('id','column_control_group_' + index);
            counters.append(column_control_group);

            var column_label = $('<label class="control-label"></label>');
            column_label.attr('for','column_' + index);
            column_label.attr('name','column_label_' + index);
            column_label.text('Header ' + index + ': ');
            column_control_group.append(column_label);

            var column_controls = $('<div class="controls"></div>');
            column_controls.attr('id','column_controls_'+index);
            column_control_group.append(column_controls);

            var column_select = $('#id_column_1').clone();
            column_select.attr('id','column_'+index);
            column_select.attr('name','column_'+index);
            column_controls.append(column_select);
        }
    </script>
{% endblock extra_body %}