{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block head_title %}{{ title }}{% endblock head_title %} &middot; {% trans 'Performance mining' %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link href="{% static "frameworks/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "frameworks/bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
    <link href="{% static "frameworks/fontawesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "custom.css" %}" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
        .navbar .nav > li > a {
            font-size: 150%;
            padding: 18px 15px 15px;
        }
    </style>
    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body>
{% block body %}
    <div class="container">

        {% block top_menu %}
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="{% url 'site_index' %}">
                        <img src="{% static 'images/logo.png' %}" style="height:32px"/>
                    </a>
                    <ul class="nav">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'repo_index' %}">{% trans "Repository" %}</a></li>
                        {# We don't really need any advanced account management for this project #}
                        {#                    <li><a href="{% url 'account_email' %}">{% trans "Profile" %}</a></li>#}
                        {#                    <li>&middot;</li>#}
                        <li><a href="{% url 'analysis_index' %}">{% trans 'Analysis' %}</a></li>
                        <li><a href="{% url 'account_logout' %}">{% trans "Sign out" %}</a></li>
                    {% else %}
                        <li><a href="{% url 'account_login' %}">{% trans "Sign in" %}</a></li>
                        <li><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        {% endblock top_menu %}

        {% block page_title %}
            <h2>{{ title }}</h2>
        {% endblock page_title%}


        {#    Main block#}
        <div class="container-fluid">
            <div class="row-fluid">
                {% if sidebar_title %}
                <div class="span8">
                {% else %}
                <div class="span11">
                {% endif %}
                    {% block content %}
                        Stub.
                    {% endblock content %}
                </div>
                {% if sidebar_title %}
                <div class="span3">
                    <table class="table-condensed table-bordered" style="width:100%">
                        <tr><td>
                            <h4 class="text-center">{{ sidebar_title }}</h4>
                        </td></tr>
                        <tr><td>
                            {% block sidebar %}

                            {% endblock sidebar %}
                        </td></tr>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Load Javascripts at the very bottom to fasten page rendering -->
        <script type="text/javascript" src="{% static "frameworks/jquery/jquery-1.9.1.js" %}"></script>
        <script type="text/javascript" src="{% static "frameworks/bootstrap/js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "js/mining.js" %}"></script>
    </div>
{% endblock body %}
{% block extra_body %}
{% endblock %}
</body>
</html>